# Gradle
.gradle/
build/
bin/
out/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode / iOS
*.xcuserstate
project.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
*.log
lizma/*.log
lizma/build/
